.backdrop {
    width: 100%;
    /* what ever is viewport height use that heigt completely */
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
  }
  